@charset "utf-8"; 

body 	{
	/*max-width: 900px;*/
	background-color: #E8E8E8;
	font-family: Arial;
	font-size: 100%;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;	
	}

bl{
	color: #0033cc
	}	
	
c1	{
	color: #6600cc;
	font-weight: bold;
	}

h1	{
	color: #330099;
	}

h2 	{
	color: #330099;
	}

h3 	{
	color: #330099;
	}
	
h4 	{
	color: #330099;
	}

h5	{
	color: #330099;
	}	

h6 	{
	color: #330099;
	}
	
lk	{color: #339933}

sc	{color: #0066cc}

vl	{color: #990099}
	


pre	{
	font-family: "courier new", courier, monospace;
	font-size: 16px;
	}

/* TABBED MENU SETTINGS START */	
ol#toc {
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
	}

ol#toc li {
	background: #bdf url(tabs.gif);
	float: left;
	margin: 0 1px 0 0;
	padding-left: 5px;
	}

ol#toc a {
	background: url(tabs.gif) 100% 0;
	color: #008;
	float: left;
	line-height: 2em;
	outline: none;
	padding-right: 5px;
	text-decoration: none;
	}

ol#toc li.current {
	background-color: #48f;
	background-position: 0 -60px;
	}

ol#toc li.current a {
	background-position: 100% -60px;
	color: #fff;
	font-weight: bold;
	}

div.content {
	border: #48f solid 3px;
	clear: left;
	padding: 1em;
	}
/* TABBED MENU SETTINGS END */




table {
	height: 120px;
	table-layout: auto;
	width: auto;
	}


	
th {
	background-color: #ffc3a0;
}

td	{background-color: #f5f5dc
	}

th. td {
	padding: 10px 10px 10px 10px;
	text-align: left;}

table.table1 {width: auto;}
table.table1 tr {}
table.table1 td {}

table.table2 {}
table.table2 tr {}
table.table2 td {}

table.table3 {width: 70%;}
table.table3 tr {}
table.table3 td {}

table.table4 {}
table.table4 tr {}
table.table4 td {}

table.table5 {}
table.table5 tr {}
table.table5 td {}

table.table6 {}
table.table6 tr {}
table.table6 td {}

table.table7 {}
table.table7 tr {}
table.table7 td {}

table.table8 {}
table.table8 tr {}
table.table8 td {}
	
#textbox {
	border-width: 2px;
	border-style: solid; 
	padding: 25px;
	border-color: olive;
	border-radius: 25px;
	}
	
#textbox2 {
	border-width: 2px;
	border-style: solid; 
	padding: 25px;
	border-color: purple;
	border-radius: 25px;
	}

